<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出 -->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数 -->
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <!--通用变量 -->
        <property name="LOG_HOME">.</property>
        <property name="ERROR_LOG_FILE_NAME">error</property>
        <property name="DEBUG_LOG_FILE_NAME">debug</property>
        <property name="TRACE_LOG_FILE_NAME">trace</property>
        <!-- <Property name="PATTERN">[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} - (%F:%L)
            - %m%n</Property> -->
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %class{36} %L %M - %msg%xEx%n</Property>
    </Properties>
    <Appenders>
        <!-- 控制台日志打印 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <Filters>
                <ThresholdFilter level="trace" onMatch="ACCEPT"
                                 onMismatch="DENY"/>
            </Filters>
            <!--输出日志的格式 -->

            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <!-- 服务器日志文件记录 -->
        <RollingRandomAccessFile name="ErrorLog"
                                 fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT"
                                 onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="128MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="DebugLog"
                                 fileName="${LOG_HOME}/${DEBUG_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${DEBUG_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${PATTERN}"/>

            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT"
                                 onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="128MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>

<!--        <RollingRandomAccessFile name="DebugJson"-->
<!--                                 fileName="${LOG_HOME}/${DEBUG_LOG_FILE_NAME}.json"-->
<!--                                 filePattern="${LOG_HOME}/${DEBUG_LOG_FILE_NAME}.json.%d{yyyy-MM-dd}-%i.gz">-->

<!--            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json" locationInfoEnabled="true">-->
<!--                &lt;!&ndash;-->
<!--                      https://logging.apache.org/log4j/2.x/manual/json-template-layout.html-->
<!--                &ndash;&gt;-->

<!--                &lt;!&ndash;-->
<!--                  由于log4j-spring-cloud-config-client2.14.1与spirng-boot2.4不兼容，应用application设置hardcode。-->
<!--                &ndash;&gt;-->
<!--                <EventTemplateAdditionalField key="application" value="logger-samples"/>-->

<!--                <EventTemplateAdditionalField key="spring.profiles.active" value="${sys:spring.profiles.active}"/>-->

<!--                <EventTemplateAdditionalField key="java.os" value="${java:os}"/>-->

<!--                <EventTemplateAdditionalField key="java.hw" value="${java:hw}"/>-->

<!--                <EventTemplateAdditionalField key="java.runtime" value="${java:runtime}"/>-->

<!--                <EventTemplateAdditionalField key="java.vm" value="${java:vm}"/>-->

<!--                &lt;!&ndash;-->
<!--                    改用${sys:java.version}替代，取值更精简。-->
<!--                    <EventTemplateAdditionalField key="java.version" value="${java:version}"/>-->
<!--                &ndash;&gt;-->
<!--                <EventTemplateAdditionalField key="java.version" value="${sys:java.version}"/>-->

<!--                <EventTemplateAdditionalField key="locale" value="${java:locale}"/>-->

<!--                &lt;!&ndash;-->
<!--                    LogstashJsonEventLayoutV1.json中定义source_host为主机名，此处定义source_user为服务进程宿主用户-->
<!--                &ndash;&gt;-->
<!--                <EventTemplateAdditionalField key="source_user" value="${sys:user.name}"/>-->

<!--            </JsonTemplateLayout>-->

<!--            <Filters>-->
<!--                <ThresholdFilter level="debug" onMatch="ACCEPT"-->
<!--                                 onMismatch="DENY"/>-->
<!--            </Filters>-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy/>-->
<!--                <SizeBasedTriggeringPolicy size="128MB"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="30"/>-->
<!--        </RollingRandomAccessFile>-->

        <RollingRandomAccessFile name="TraceLog"
                                 fileName="${LOG_HOME}/${TRACE_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${TRACE_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${PATTERN}"/>

            <!--            <Filters>-->
            <!--                <ThresholdFilter level="trace" onMatch="ACCEPT"-->
            <!--                                 onMismatch="DENY"/>-->
            <!--            </Filters>-->
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="128MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!--AsyncLogger -->
        <!-- <AsyncLogger name="com.baomidou.crab" level="info" includeLocation="true"/> -->
        <!-- <AsyncLogger name="com.baomidou.crab.core.p6spy" level="debug" includeLocation="true"/> -->
        <!-- <AsyncLogger name="com.baomidou.mybatisplus" level="error" includeLocation="true"/> -->
        <!-- <AsyncLogger name="io.swagger" level="error" includeLocation="true"/> -->
        <!--root的logger -->
        <!-- <AsyncRoot level="trace" includeLocation="true"> -->
        <!-- <AppenderRef ref="Console"/> -->
        <!-- <AppenderRef ref="DebugLog"/> -->
        <!-- <AppenderRef ref="ErrorLog"/> -->
        <!-- </AsyncRoot> -->
        <!-- <Root level="trace" includeLocation="true"> -->
        <!-- <AppenderRef ref="Console"/> -->
        <!-- <AppenderRef ref="DebugLog"/> -->
        <!-- <AppenderRef ref="ErrorLog"/> -->
        <!-- </Root> -->
        <Root level="info" includeLocation="true">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="TraceLog"/>-->
<!--            <AppenderRef ref="DebugLog"/>-->
<!--            <AppenderRef ref="ErrorLog"/>-->
        </Root>
    </Loggers>
</Configuration>
